.header {
    font-family: sans-serif;
    background-color: dodgerblue;
}

.result {
    font-family: sans-serif;
    background-color: dodgerblue;
}

.age {
    font-family: sans-serif;
    background-color: dodgerblue;
}